# -----------------------------------------------
# App
# -----------------------------------------------
NODE_ENV=development
PORT=5001

# -----------------------------------------------
# Frontend
# -----------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:5001

# -----------------------------------------------
# Database (add when ready)
# -----------------------------------------------
# DB_HOST=
# DB_PORT=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=

# -----------------------------------------------
# Auth (add when ready)
# -----------------------------------------------
# JWT_SECRET=
# JWT_REFRESH_SECRET=